<h2>Welcome to DiRT Rally Leagues Bot</h2>

<p>このサイトでは自称うろたん氏 (<a href="https://twitter.com/qpSHiNqp">@qpSHiNqp</a>)によって管理されているリーグの情報/戦績などをまとめています</p>
<p>各Leagueは公開リーグなので、ご自由にJOIN US!</p>
<p>League参加方法などは今後随時追記していきます。</p>
<p>不明点などあればTwitterで@mention送ってください。</p>

<h3>管理League一覧</h3>
<table class="table table-striped table-hover table-responsive">
  <thead class="thead-default">
    <tr>
      <th>League</th>
      <th>シーズン期間</th>
      <th>イベント</th>
      <th>イベント期間</th>
      <th>公式</th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <% if league.current_season.present? %>
          <td><%= link_to league.league_name, league.current_season %></td>
          <td><%= league.current_season.open_at.strftime('%Y/%m/%d %H:%M') %> 〜 <%= league.current_season.close_at.strftime('%Y/%m/%d %H:%M (JST)') %></td>
          <td>第<%= league.current_season.completed_event_num + 1 %>戦 (<%= league.current_season.current_event.countries %>) / 全<%= league.current_season.events.count %>戦</td>
          <td><%= league.current_season.current_event.open_at.strftime('%Y/%m/%d %H:%M') %> 〜 <%= league.current_season.current_event.close_at.strftime('%Y/%m/%d %H:%M (JST)') %></th>
          <td><%= link_to "https://www.dirtgame.com/uk/leagues/league/#{league.team_id}/#{league.league_name}", target: "_blank" do %>
            公式サイト
            <%= image_tag('link.png') %>
          <% end %>
        <% else %>
          <td><%= link_to league.league_name, league.events.last %></td>
          <td colspan="4">現在開催中のシーズンはありません</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

