<!DOCTYPE html>
<html>
  <head>
    <title>Leagues</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            DiRT Rally Leagues <!-- FIXME -->
          </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'League一覧へ', leagues_path %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12" main>
          <% if yield(:title) %>
            <h1 class="page-header"><%= yield(:title) %></h1>
          <% end %>
          <% if flash[:notice] %>
            <div class="alert alert-info"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:error] %>
            <div class="alert alert-danger"><%= flash[:error] %></div>
          <% end %>
          <% flash.clear %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
